page-add-squeel {
  ion-content {
    font-family: 'Gotham' !important;
  }
  textarea {
    font-family: 'Gotham' !important;
  }
  .gameHeader {
    height: 100px;
    background-color: #daf5ff;
    font-size: 1em;
  }
  .team1 img, .team2 img {
    transform: rotate(90deg);
  }
  img {
    width: 40%;
    margin: 10px;
  }
  .noteam:before {
    content: ' \25C9';
    font-size: 40px;
    color: grey;
  }
  .charLeft {
    font-weight: 600;
    color: map-get($colors, primary);
  }
  ion-item:first-child {
    border: 0 !important;
  }
  ion-item {
    padding-left: 0px !important;
  }
  ion-col {
    margin: auto !important;
  }
  ion-list {
    margin: 0 !important;
  }
  ion-textarea {
    font-family: 'CenturyGothic';
  }
  ion-label {
    margin: 5px 0 5px 0 !important;
  }
  .squeel {
    margin-top: 30px !important;
  }
  .header ion-col {
    margin: auto;
  }

  #stats {
    color: grey;
  }
  @media (min-width: 700px) {
    img {
      width: 30%;
    }
  }
  @media (min-width: 400px) {
    .gameHeader {
      font-size: 1.2em;
    }
  }
}
