page-all-games {
  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons {
    margin-top: 4%;
  }
  .segment-ios .segment-button {
    border: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    // margin-bottom: 5px;
    font-size: 1.1em !important;
    border-radius: 0px !important;
    opacity: 0.5 !important;
    // text-transform: uppercase !important;
    height: 6vh !important;
    padding-top: 1vh;
  }
  .segment-ios .segment-activated {
    background-color: white !important;
    color: #4dc7ff !important;
    border-bottom: 2px solid #4dc7ff !important;
    opacity: 1 !important;
  }
  ion-fab {
    position: absolute !important;
    right: 5% !important;
    bottom: 5% !important;
  }
  .fab {
    box-shadow: 2px 2px 10px #888888;
  }
  #oponent1 img, #oponent2 img {
    width: 20%;
    transform: scale(2) rotate(90deg) !important;
  }
  // #oponent1, #oponent2 {
  //   span {
  //     padding-left: 20px;
  //     font-size: 1.2em;
  //   }
  // }
  .gameHeader {
    height: 130px;
    background-color: #daf5ff;
    font-size: 1em;
    margin-top: 10px;
    border-bottom: 0.55px solid lightgrey;
  }
  .gameHeader:first-child {
    margin-top: 0px;
  }
  .gameDate {
    font-size: 0.8em;
    color: grey;
  }
  #stats {
    margin: auto;
    .score {
      font-size: 2em;
    }
    ion-icon {
      font-size: 1.4em;
      color: #D5BA4B;
    }
    color: grey;
  }
  .trophiesScore {
    font-size: 1.2em;
  }
  .trophies {
    margin: auto;

    span {
      color: grey;
    }
    ion-icon {
      // font-weight: bold;
      font-size: 1.5em;
      color: #D5BA4B;
    }
  }
  .trophies2 {
    margin: auto;
    span {
      color: grey;
    }
    ion-icon {
      font-size: 1.5em;
      color: grey;
    }
  }
  .date {
    font-size: 0.7em;
    color: grey;
  }
  .name {
    font-weight: bold;
  }
  .gameDate {
    // font-family: 'CenturyGothicBold';
    font-style: italic;
  }
  .userProfile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    // margin: auto;
    // margin: 1% 5%;
    margin-right: 5%;
    // margi
  }
  @media (max-width: 400px) and (min-width: 322px) {
      .featuredName {
        font-size: 0.7em;
      }
  }
  @media (max-width: 321px) {
      ion-content {
          font-size: 0.7em;
      }
      .gameHeader {
        height: 100px !important;
      }
      .featuredName {
        font-size: 0.5em;
      }
  }

  @media (min-width: 400px) {

    .gameHeader {
      font-size: 1em;
    }

  }

  @media (min-width: 768px) {
      ion-content {
          font-size: 1.2em;
      }
      #oponent1 img, #oponent2 img {
        width: 30%;
        transform: scale(1.2) rotate(90deg) !important;
      }
      .circle img {
        padding-right: 3px;
      }
      .gameHeader {
        height: 180px !important;
      }
  }
  @media (min-width: 1024px) {
      ion-content {
          font-size: 1.5em;
      }
      #oponent1 img, #oponent2 img {
        width: 30%;
        transform: scale(1.2) rotate(90deg) !important;
      }
      .circle img {
        padding-right: 3px;
      }
      .gameHeader {
        height: 210px !important;
      }
      .featuredName {
        font-size: 1.2em;
      }
  }

}
