<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToSettingsPage()">
         <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- <div id="profile-bg"></div> -->
  <div *ngIf="user">
    <img class="avatar-background" src="{{user.profileUrl}}" />
    <div class="avatar-background2"></div>
  </div>
  <div id="content">
    <div id="profile-info" padding *ngIf="user">
      <img id="profile-image" [src]="user.profileUrl">
      <h3 id="profile-name">{{user.name}}</h3>
      <h5> <ion-icon ios="ios-pin" md="md-pin"></ion-icon> East Lansing, MI </h5>
      <!-- <button ion-button small outline class="follow-button" (click)="goToSettingsPage()">Edit Profile</button> -->
      <ion-row class="profile-numbers">
        <ion-col col-6 >
          <p><ion-icon ios="ios-create-outline" md="md-create"></ion-icon></p>
          <span>{{user.squeels.length}} Squeels</span>
        </ion-col>
        <ion-col col-6>
          <p><ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon></p>
          <span>{{trophies}} Trophies</span>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div id="squeels" *ngIf="user">
    <h2 text-center> My Squeels </h2>
    <ion-list>
      <ion-item-sliding *ngFor="let squeel of user.squeels">
        <ion-item >
          <ion-row>
            <ion-col col-9 text-wrap>
              <p> {{squeel.description}}</p>
              <span class="date">{{squeel.createdAt | date: 'MMM, d - hh:mm a'}}</span>
            </ion-col>
            <ion-col col-3 text-right class="trophies">
              <span>{{squeel.upvotes.length}}</span>
              <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right" (tap)="deleteSqueel(squeel)">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>
