page-home {
  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons {
    margin-top: 4%;
  }
  ion-segment {
    margin-bottom: 5px;
  }
  ion-fab {
    position: absolute !important;
    right: 5% !important;
    bottom: 5% !important;
  }
  .fab {
    box-shadow: 2px 2px 10px #888888;
  }
  #oponent1 img, #oponent2 img {
    width: 20%;
    // padding-right: 15px;
    // padding-left: 15px;
    transform: scale(2) rotate(90deg) !important;
  }
  .circle {
    font-size: 0.5em;
    span {
      text-align: left;
    }
  }
  .featuredName {
    font-size: 0.8em;
    padding-top: 15px;
  }
  .description {
    color: black;
  }
  .circle img {
    transform: scale(2) rotate(90deg) !important;
    // display: block;
    // border-radius: 50%;
    // height: 10px;
    // width: 10px;
    // margin: 0 auto 0;
    // margin-bottom: 10px;
    padding-right: 3px;
  }

  .gameHeader {
    height: 120px;
    padding-top: 15px;
    background-color: #daf5ff;
    font-size: 1.2em;
    // margin-bottom: 15px;
  }
  .circle1:before {
    content: ' \25C9';
    font-size: 40px;
    // color: #77D353;
  }
  .circle2:before {
    content: ' \25C9';
    font-size: 40px;
    // color: #00A6FF;
  }
  .circle3:before {
    content: ' \25C9';
    font-size: 20px;
    color: #77D353;
  }
  .circle4:before {
    content: ' \25C9';
    font-size: 20px;
    color: #00A6FF;
  }
  ion-col {
    margin: auto !important;
    // color: black;
  }
  @keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
    }
  }
  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }
  ion-label {
    // animation: fadeInLoad 3s;
  }
  #stats {
    .score {
      font-size: 2em;
    }
    ion-icon {
      font-size: 1.4em;
      color: #D5BA4B;
    }
    color: grey;
  }
  .trophies {
    margin: auto;

    span {
      color: grey;
    }
    ion-icon {
      // font-weight: bold;
      font-size: 1.5em;
      color: #D5BA4B;
    }
  }
  .trophies2 {
    margin: auto;
    span {
      color: grey;
    }
    ion-icon {
      font-size: 1.5em;
      color: grey;
    }
  }
  .date {
    font-size: 0.7em;
    color: grey;
  }
  .name {
    font-weight: bold;
  }
  .gameDate {
    // font-family: 'CenturyGothicBold';
    font-style: italic;
  }
  .top {
    color: #FFBE30;
  }
  .topSqueels {
    font-weight: bold;
    padding-top: 9px;
  }
  #topgrid {
    column-rule: 4px outset #ff00ff;
  }
  #topSqueeler img {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 auto 0;
  }
  #topSqueeler:first-child {
    // padding-top: 20px;

    color: #FFC324 !important;
    // font-size: 3em;
  }
  #topSqueeler:nth-child(2) {
    color: #A0A7AD !important;
    // font-size: 4em;
  }
  #topSqueeler:nth-child(3) {
    // padding-top: 40px;
    color: #BB7760;
    // font-size: 2em;
  }
  #topSqueeler p {
    font-size: 1.2em;
  }
  .description img {
    // display: block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0 auto 0;
  }
  @media (max-width: 321px) {
      ion-content {
          font-size: 0.7em;
      }
      .description {
        // padding-left: 15px;
      }
      .gameHeader {
        height: 100px !important;
      }
      .featuredName {
        font-size: 0.5em;
      }
  }

  @media (min-width: 768px) {
      ion-content {
          font-size: 1.2em;
      }
      .description {
        // padding-left: 15px;
      }
      #oponent1 img, #oponent2 img {
        width: 30%;
        transform: scale(1.2) rotate(90deg) !important;
      }
      .circle img {
        // transform: scale(1.5) rotate(90deg) !important;
        padding-right: 3px;
      }
      .gameHeader {
        height: 180px !important;
      }
  }
  @media (min-width: 1024px) {
      ion-content {
          font-size: 1.5em;
      }
      .description {
        // padding-left: 15px;
      }
      #oponent1 img, #oponent2 img {
        width: 30%;
        transform: scale(1.2) rotate(90deg) !important;
      }
      .circle img {
        // transform: scale(1.5) rotate(90deg) !important;
        padding-right: 3px;
      }
      .gameHeader {
        height: 210px !important;
      }
      .featuredName {
        font-size: 1.2em;
      }
  }

}
