  <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isPastGame">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab bottom right (tap)="createSqueel()" *ngIf="!isPastGame">
    <button ion-fab><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <div class="gameHeader">
    <ion-grid>
      <ion-row text-center padding-top>
        <ion-col col-3 id="oponent1">
          <img [src]="loadedGame.oponent1Image">
          <br>
          <br>
          <span padding-top>{{loadedGame.oponent1}}</span>
        </ion-col>
        <ion-col col-6 id="stats" text-center>
          <span class="score">{{loadedGame.oponent1Score}} - {{loadedGame.oponent2Score}}</span><br>
          <span class="trophiesScore">{{team1Trophies}} <ion-icon ios="ios-trophy-outline" md="md-trophy"> </ion-icon> {{team2Trophies}}</span>
        </ion-col>
        <ion-col col-3 id="oponent2">
          <img [src]="loadedGame.oponent2Image">
          <br>
          <br>
          <span padding-top>{{loadedGame.oponent2}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="squeels" *ngIf="squeelsData">
    <ion-list class="top">
      <div>
        <ion-segment [(ngModel)]="filter">
          <ion-segment-button value="Latest">
            Latest
          </ion-segment-button>
          <ion-segment-button value="TopRated">
            Top Rated
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="filter">
        <div *ngSwitchCase="'Latest'">
          <ion-item-sliding *ngFor="let squeel of squeelsDataSliced" (tap)="gotoComment(squeel)">
            <ion-item >
              <p class="date name" [style.color]="loadedGame.oponent1color"  *ngIf="squeel.squeel.team == 1 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</p>
              <span class="date name" [style.color]="loadedGame.oponent2color"  *ngIf="squeel.squeel.team == 2 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</span>
              <span class="date name" [style.color]="loadedGame.oponent1color"  *ngIf="squeel.squeel.team == 1 && squeel.squeel.anonymous">@{{loadedGame.oponent1}}</span>
              <span class="date name" [style.color]="loadedGame.oponent2color"  *ngIf="squeel.squeel.team == 2 && squeel.squeel.anonymous">@{{loadedGame.oponent2}}</span>
              <p text-wrap class="description"> {{squeel.squeel.description}}</p>
              <span class="date">{{squeel.squeel.createdAt | amTimeAgo}} {{squeel.squeel.comments.length}} comments</span>
              <ion-note item-end class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
                <span>{{squeel.length}}</span>
                <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
              </ion-note>
              <ion-note item-end class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
                <span>{{squeel.length}}</span>
                <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
              </ion-note>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (tap)="report(squeel)">
                <ion-icon name="flag"></ion-icon>
                Report
              </button>
            </ion-item-options>
          </ion-item-sliding>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </div>
      <div *ngSwitchCase="'TopRated'">
          <ion-item-sliding *ngFor="let squeel of squeelsTop" (tap)="gotoComment(squeel)">
            <ion-item>
              <p class="date name" [style.color]="loadedGame.oponent1color"  *ngIf="squeel.squeel.team == 1 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</p>
              <span class="date name" [style.color]="loadedGame.oponent2color"  *ngIf="squeel.squeel.team == 2 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</span>
              <span class="date name" [style.color]="loadedGame.oponent1color"  *ngIf="squeel.squeel.team == 1 && squeel.squeel.anonymous">@{{loadedGame.oponent1}}</span>
              <span class="date name" [style.color]="loadedGame.oponent2color"  *ngIf="squeel.squeel.team == 2 && squeel.squeel.anonymous">@{{loadedGame.oponent2}}</span>
              <p text-wrap class="description"> {{squeel.squeel.description}}</p>
              <span class="date">{{squeel.squeel.createdAt | amTimeAgo}} {{squeel.squeel.comments.length}} comments</span>
              <ion-note item-end class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
                <span>{{squeel.length}}</span>
                <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
              </ion-note>
              <ion-note item-end class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
                <span>{{squeel.length}}</span>
                <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
              </ion-note>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (tap)="report(squeel)">
                <ion-icon name="flag"></ion-icon>
                Report
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
