  <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab bottom right (tap)="createSqueel()">
    <button ion-fab><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <!-- <div text-center>
    <ion-list-header>
      Games this week!
    </ion-list-header>
  </div> -->
  <!-- <div class="gameHeader" *ngFor="let game of games">
    <ion-grid>
      <ion-row text-center>
        <ion-col class="gameDate">
          {{game.date | date: 'EEEE, MMMM d - h:mm a'}}
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-3 id="oponent1">
          <span class="circle1" [style.color]="game.oponent1color"></span>
          <br>
          <span>{{game.oponent1}}</span>
        </ion-col>
        <ion-col col-6 id="stats" text-center>
          <span class="score">0 - 0</span><br>
          <span>{{team1Trophies}} <ion-icon ios="ios-trophy-outline" md="md-trophy"> </ion-icon> {{team2Trophies}}</span>
        </ion-col>
        <ion-col col-3 id="oponent2">
          <span class="circle2" [style.color]="game.oponent2color"></span>
          <br>
          <span>{{game.oponent2}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  <!-- <div text-center>
    <ion-list-header>
      Games this week!
    </ion-list-header>
  </div> -->
  <div class="gameHeader" *ngFor="let game of games">
    <ion-grid>
      <ion-row text-center>
        <ion-col col-3 id="oponent1">
          <img src="assets/msu.png">
          <br>
          <span>{{game.oponent1}}</span>
        </ion-col>
        <ion-col col-6 id="stats" text-center>
          <span class="score">{{game.oponent1Score}} - {{game.oponent2Score}}</span><br>
          <span>{{team1Trophies}} <ion-icon ios="ios-trophy-outline" md="md-trophy"> </ion-icon> {{team2Trophies}}</span>
        </ion-col>
        <ion-col col-3 id="oponent2">
          <img src="assets/um.png">
          <br>
          <span>{{game.oponent2}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="squeels" *ngIf="squeelsData">
    <ion-list class="top">
      <div text-center class="topSqueels">
          Top 3
      </div>
      <ion-item>
        <ion-grid id="topgrid">
          <ion-row>
            <ion-col id="topSqueeler"  col-3 *ngFor="let squeel of squeelsTopSliced" text-center (tap)="openPopOver(squeel)">
              <!-- <img [src]="squeel.squeel.user.profileUrl" /> -->
              <ion-icon ios="ios-trophy-outline" md="md-trophy"> </ion-icon>
              <p>1820</p>
              <!-- <span padding-top [style.color]="oponent1Color"  *ngIf="squeel.squeel.team == 1" class="featuredName">@{{squeel.squeel.user.username}}</span>
              <span padding-top [style.color]="oponent2Color"  *ngIf="squeel.squeel.team == 2" class="featuredName">@{{squeel.squeel.user.username}}</span> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
        <ion-item-sliding *ngFor="let squeel of squeelsDataSliced">
          <ion-item>
            <!-- <ion-grid>
              <ion-row>
                <ion-col col-10 text-wrap class="description">
                  <img [src]="squeel.squeel.user.profileUrl" />
                  <p class="date" [style.color]="oponent1Color" *ngIf="squeel.squeel.team == 1">@{{squeel.squeel.user.username}}</p>
                  <span class="date" [style.color]="oponent2Color" *ngIf="squeel.squeel.team == 2">@{{squeel.squeel.user.username}}</span>
                  <p> {{squeel.squeel.description}}</p>
                  <span class="date">{{squeel.squeel.createdAt | date: 'MMM d - hh:mm a'}}</span>
                </ion-col>
                <ion-col col-2 text-right class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
                  <span>{{squeel.length}}</span>
                  <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
                </ion-col>
                <ion-col col-2 text-right class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
                  <span>{{squeel.length}}</span>
                  <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid> -->
            <!-- <ion-avatar item-start>
              <img [src]="squeel.squeel.user.profileUrl">
            </ion-avatar> -->
            <p class="date" [style.color]="oponent1Color"  *ngIf="squeel.squeel.team == 1 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</p>
            <span class="date" [style.color]="oponent2Color"  *ngIf="squeel.squeel.team == 2 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</span>
            <span class="date" [style.color]="oponent1Color"  *ngIf="squeel.squeel.team == 1 && squeel.squeel.anonymous">@{{games[0].oponent1}}</span>
            <span class="date" [style.color]="oponent2Color"  *ngIf="squeel.squeel.team == 2 && squeel.squeel.anonymous">@{{games[0].oponent2}}</span>
            <p text-wrap class="description"> {{squeel.squeel.description}}</p>
            <span class="date">{{squeel.squeel.createdAt | amTimeAgo}}</span>
            <ion-note item-end class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
              <span>{{squeel.length}}</span>
              <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
            </ion-note>
            <ion-note item-end class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
              <span>{{squeel.length}}</span>
              <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
            </ion-note>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (tap)="report()">
              <ion-icon name="flag"></ion-icon>
              Report
            </button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
  </div>
</ion-content>
