page-hashtag {


  .description {
    color: #383838;
  }
  .date {
    font-size: 0.7em;
    color: grey;
  }
  .name {
    font-weight: bold;
  }
  .gameDate {
    // font-family: 'CenturyGothicBold';
    font-style: italic;
  }
  .userProfile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
  }
  
  .trophies, .trophies2 {
    margin: auto;
    span {
      color: grey;
      font-weight: bold;
    }
    ion-icon {
      font-size: 1.5em;
      color: #D5BA4B;
    }
  }
  .trophies2{
    ion-icon {
      color: grey;
    }
  }

}
