

<ion-content>

  <!-- <ion-card> -->

    <!-- <ion-item>
      <ion-avatar item-start>
        <img *ngIf="!squeel.squeel.anonymous" [src]="squeel.squeel.user.profileUrl" />
        <img *ngIf="squeel.squeel.team == 1 && squeel.squeel.anonymous" [src]="squeel.squeel.game.oponent1Image" style="transform: rotate(90deg)"/>
        <img *ngIf="squeel.squeel.team == 2 && squeel.squeel.anonymous" [src]="squeel.squeel.game.oponent2Image" style="transform: rotate(90deg)" />
      </ion-avatar>
      <span class="username" [style.color]="oponent1Color" *ngIf="squeel.squeel.team == 1">@{{squeel.squeel.user.username}}</span>
      <span class="username" [style.color]="oponent2Color" *ngIf="squeel.squeel.team == 2">@{{squeel.squeel.user.username}}</span>
    </ion-item>

    <ion-item>
      <p> {{squeel.squeel.description}}</p>
      <span class="date">{{squeel.squeel.createdAt | date: 'MMM d - hh:mm a'}}</span>
      <ion-note item-end class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
        <span>{{squeel.length}}</span>
        <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
      </ion-note>
      <ion-note item-end class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
        <span>{{squeel.length}}</span>
        <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
      </ion-note>
    </ion-item> -->



  <!-- </ion-card> -->

  <ion-item>
    <p class="name" [style.color]="squeel.squeel.game.oponent1color"  *ngIf="squeel.squeel.team == 1 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</p>
    <span class="name" [style.color]="squeel.squeel.game.oponent2color"  *ngIf="squeel.squeel.team == 2 && !squeel.squeel.anonymous">@{{squeel.squeel.user.username}}</span>
    <span class="name" [style.color]="squeel.squeel.game.oponent1color"  *ngIf="squeel.squeel.team == 1 && squeel.squeel.anonymous">@{{squeel.squeel.game.oponent1}}</span>
    <span class="name" [style.color]="squeel.squeel.game.oponent2color"  *ngIf="squeel.squeel.team == 2 && squeel.squeel.anonymous">@{{squeel.squeel.game.oponent2}}</span>
    <p text-wrap class="description"> {{squeel.squeel.description}}</p>
    <span class="date">{{squeel.squeel.createdAt | date: 'MMM d - hh:mm a'}}</span>
    <ion-note item-end class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
      <span>{{squeel.length}}</span>
      <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
    </ion-note>
    <ion-note item-end class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
      <span>{{squeel.length}}</span>
      <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
    </ion-note>
  </ion-item>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-9 text-wrap class="description">
        <img *ngIf="!squeel.squeel.anonymous" [src]="squeel.squeel.user.profileUrl" />
        <img *ngIf="squeel.squeel.team == 1 && squeel.squeel.anonymous" [src]="squeel.squeel.game.oponent1Image" style="transform: rotate(90deg)"/>
        <img *ngIf="squeel.squeel.team == 2 && squeel.squeel.anonymous" [src]="squeel.squeel.game.oponent2Image" style="transform: rotate(90deg)" />

        <span class="username" [style.color]="oponent1Color" *ngIf="squeel.squeel.team == 1">@{{squeel.squeel.user.username}}</span>
        <span class="username" [style.color]="oponent2Color" *ngIf="squeel.squeel.team == 2">@{{squeel.squeel.user.username}}</span>
        <p> {{squeel.squeel.description}}</p>
        <span class="date">{{squeel.squeel.createdAt | date: 'MMM d - hh:mm a'}}</span>
      </ion-col>
      <ion-col col-3 text-right class="trophies" *ngIf="squeel.voted" (tap)="downvote(squeel)">
        <span>{{squeel.length}}</span>
        <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
      </ion-col>
      <ion-col col-3 text-right class="trophies2" *ngIf="!squeel.voted" (tap)="upvote(squeel)">
        <span>{{squeel.length}}</span>
        <ion-icon ios="ios-trophy-outline" md="md-trophy"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
