page-welcome {
  ion-content {
    // background-image: url('http://farm5.static.flickr.com/4012/5129806951_a92629f041_o.jpg');
    // background-size: cover;
    overflow-y: hidden !important;
  }
  // .logo img {
  //   src: url('../../assets/logo.png');
  // }
  .form {
    padding-top: 20vh;
    margin: auto;
  }
  .terms {
    // color: white;
    line-height: 1.5em;
    text-align: center;
    span {
      color: #3b5998;
    }
  }
  // ion-icon {
  //   padding-right: 5%;
  // }

}
